<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto 1</title>
</head>
<body>
    <header>
        <nav>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
        </nav>
    </header>
    <main>
        <section>
        <h1>Página principal</h1>
        </section>
        <section>
            <h2>Sobre el Proyecto</h2>
            <p>Esta es la página principal del proyecto Backend</p>
            <a href="/views/products.handlebars">Pincha aquí y verás la lista de productos</a>
        </section>
        <section>
            <form action="" method="post"></form>
            <label for="Title">Título</label>
            <input id="inputTitle" type="text" name="Título">
            <label for="Desciption">Descripción</label>
            <input id="inputDescription" type="text" name="Descripción">
            <label for="Price">Precio</label>
            <input id="inputPrice" type="number" name="Precio">
            <label for="Code">Código</label>
            <input id="inputCode" type="text" name=Código"">
            <label for="Stock">Stock</label>
            <input id="inputStock" type="number" name="Stock">
            <label for="Category">Categoría</label>
            <input id="inputCategory" type="text" name="Categoría">
            <input id ="newProduct" type="submit" value="Agregar Producto">
        </section>
    </main>
    <div id="addProducts"></div>
    <footer>
        <a href=""></a>
        <a href=""></a>
        <a href=""></a>
        <a href=""></a>
    </footer>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./mainFront.js"></script>
</body>
</html>