<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src=""></script>
    <title>Prueba1</title>
</head>
<body>
    <header>
        <nav>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
        </nav>
    </header>
    <main>
        <div>
            <section>
                <h1>Lista de Productos</h1>
            </section>
        </div>
            <section>
                <h2>Aquí está la lista de productos</h2>
                <ol>
                    {{#if Products}}
                    {{#each products}}
                    <li>{{this.title}}: ${{this.price}}</li>
                    {{/each}}
                    {{/if}}
                </ol>
            </section>
        </div>
        <div>
            <section>
                <form action="" method="post"></form>
                <label for="Título">Título</label>
                <input type="text">
                <label for=""></label>
                <input type="text">
                <label for=""></label>
                <input type="text">
            </section>
        </div>
    </main>
    <footer>
    </footer>
    <script src="/socket.io/socket.io.js"></script>
    <script>
    const socket = io()
    socket.on('message', data =>alert(data))
    </script>
</body>
</html>